.team {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 90px;
    max-width: 1500px;
}
.team-intro {
    display: flex;
    margin-bottom: 40px;
    align-items: end;
}
.team-highlight {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 500;
    background-color: rgb(189, 235, 117);
}
.team-described {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    width: 490px;
    padding-bottom: 11px;
}
.team-member-section {
display: flex;
justify-content: space-between;
gap: 10px;
}
.team-member {
    padding:40px 40px ;
    background-color: white;
    border: solid;
    border-color: rgb(102, 101, 101);
    border-width: 2px;
    border-radius: 40px;
    height: 280px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
}
.team-profile {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.team-profile::before {
    content: '';
    display: block;
    width: 350px;
    height: 3px;
    background-color: rgb(38, 38, 49);
    position: absolute;
    bottom: -40%;
}
.member-image-name {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.member-image {
    display: inline-block;
    margin-right: 15px;
}

.member-name {
    display: inline-block;
    font-size: 25px;
    margin: 0;
    font-weight: 500;
}
.member-position {
    font-size: 20px;
    margin: 0;
}
.member-experience {
    font-size: 19.5px;
    margin-top: 70px;
    width: 340px;
}
.see-all-team-button {
    display: inline;
    right: 4px;
    padding: 25px 70px 25px 70px;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgb(38, 38, 49);
    border: none;
    color: rgb(243, 243, 243);
}
.all-team-button {
    margin-top: 10px;
    float: right;
}