.working-process {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 90px;
    max-width: 1500px;
}
.working-process-intro {
    display: flex;
    margin-bottom: 40px;
    align-items: end;
}
.working-process-highlight {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 500;
    background-color: rgb(189, 235, 117);
}
.working-process-described {
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
    width: 300px;
    padding-bottom: 11px;
}

.working-process-1 {
    padding:40px 40px ;
    background-color: rgb(189, 235, 117);
    border: solid;
    border-color: rgb(102, 101, 101);
    border-width: 2px;
    border-radius: 40px;
    height: 220px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
}
.consultation {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.consultation::before {
    content: '';
    display: block;
    width: 1150px;
    height: 3px;
    background-color: rgb(38, 38, 49);
    position: absolute;
    bottom: -40%;
}
.consultation-and-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.consultation-no1 {
    display: inline-block;
    font-size: 62px;
    font-weight: 500;
    font-weight: 500;
    margin: 0;
    padding-right: 20px;
}
.consultation-text {
    display: inline-block;
    font-size: 32px;
    margin: 0;
    font-weight: 500;
}
.consultation-briefs {
    font-size: 19.5px;
    margin-top: 70px;
}
.working-process-others {
    padding:40px 40px ;
    background-color: rgb(243, 243, 243);
    border: solid;
    border-color: rgb(102, 101, 101);
    border-width: 2px;
    border-radius: 40px;
    height: 80px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 30px;
}
.process-and-no {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.other-process {
    display: flex;
    justify-content: space-between;
}
.process-no {
    display: inline-block;
    font-size: 62px;
    font-weight: 500;
    font-weight: 500;
    margin: 0;
    padding-right: 20px;
}
.process-text {
    display: inline-block;
    font-size: 32px;
    margin: 0;
    font-weight: 500;
}
